<header id="header">
  <div class="center">
    <!-- LOGO -->
    <div id="logo">
      <img
        src="../../../assets/images/logo.svg"
        class="app-logo"
        alt="Logotipo"
      />
      <span id="brand"> <strong>Andres</strong>Campuzano</span>
    </div>

    <!-- MENU -->
    <nav id="menu">
      <ul>
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
        </li>
        <li>
          <a [routerLink]="['/form']" [routerLinkActive]="['active']">Form</a>
        </li>
        <li>
          <a [routerLink]="['/items']" [routerLinkActive]="['active']">Items</a>
        </li>
        <li>
          <a [routerLink]="['/page-test']" [routerLinkActive]="['active']"
            >Page</a
          >
        </li>
      </ul>
    </nav>

    <!--LIMPIAR FLOTADOS-->
    <div class="clearfix"></div>
  </div>
</header>
