<header id="header">
  <div class="center">
    <!-- LOGO -->
    <div id="logo">
      <img
        src="../../../assets/images/logo.svg"
        class="app-logo"
        alt="Logotipo"
      />
      <span id="brand"> <strong>Andres</strong>Campuzano</span>
    </div>

    <!-- MENU -->
    <nav id="menu">
      <ul>
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/blog']">Blog</a>
        </li>
        <li>
          <a [routerLink]="['/form']">Form</a>
        </li>
        <li>
          <a [routerLink]="['/movies']">Movies</a>
        </li>
        <li>
          <a [routerLink]="['/page-test']">Page</a>
        </li>
      </ul>
    </nav>

    <!--LIMPIAR FLOTADOS-->
    <div class="clearfix"></div>
  </div>
</header>
